<div class="flex flex-col gap-3 my-5">
  <div class="flex flex-row items-center justify-between">
    <img class="rounded-lg w-1/2" src="https://imgs.search.brave.com/cWny99APXhSzaBBFEZygoNsSN95D_ju8A7bKdsZAg0c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/aGFyZGxvb3AuZnIv/X25leHQvaW1hZ2U_/dXJsPWh0dHBzOi8v/aW1nLmhhcmRsb29w/LmNvbS9pbWFnZS91/cGxvYWQvd18xMjAw/LGhfNjUwLHFfMTAw/LGZfYXV0by9TdHJh/cGkvdHJhaWxfZGVi/dXRlcl9jNWZkMWU4/YmY0Jnc9Mzg0MCZx/PTEwMA">
    <h1>Trail</h1>
  </div>
  <div class="flex flex-row items-center justify-between">
    <h1>Escalade</h1>
    <img class="rounded-lg w-1/2" src="https://imgs.search.brave.com/7PDG1p6pkkXBv2IOP73ras_tbPuM2r9M5Enp1fTlGvM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTAy/OTIyNzU0Ni9mci9w/aG90by9lc2NhbGFk/ZS1kYW5zLWxlcy1h/bHBlcy5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9bTNHdmxJ/MV9VaktubnI0bi1U/a0Ztc1dPbDNDeUtv/YkRXOGVESk5MRkFD/VT0">
  </div>
  <div class="flex flex-row items-center justify-between">
    <img class="rounded-lg w-1/2" src="https://imgs.search.brave.com/8QjLuM0kR6QGNaKVxgVTZ1UTpfdly5s-BNpyByIsPuI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVsb2JyaXZhbC5j/b20vYXBwL3VwbG9h/ZHMvMjAyMy8xMS9y/b3V0ZS12ZWxvYnJp/dmFsLmpwZw">
    <h1>Vélo</h1>
  </div>
</div>
