<p-splitter/>
<div class="flex flex-row my-5">
  <div class="flex flex-col social-icon items-center basis-1/2">
    <a class="flex flex-row items-center gap-2" href="https://www.linkedin.com/in/antonin-duvauchel-458009209/">
      <fa-icon [icon]="faLinkedin"/>
      <p>Linkedin</p>
    </a>
    <a class="flex flex-row items-center gap-2" href="https://github.com/Sky-ness">
      <fa-icon [icon]="faGithub"/>
      <p>Github</p>
    </a>
  </div>
  <div class="flex flex-col items-center basis-1/2">
    <div class="flex flex-row items-center text-center gap-5">
      <fa-icon [icon]="faPhone"/>
      <p>+33 7-66-54-29-04</p>
    </div>
    <div class="flex flex-row items-center text-center gap-5">
      <fa-icon [icon]="faEnvelope"/>
      <p>antonin4.duvauchel&#64;gmail.com</p>
    </div>
  </div>
</div>
