<p-panel styleClass="my-5">
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <p-avatar
        label="A"
        size="large"
        shape="circle" />
        <span class="font-bold">
                Antonin Duvauchel
            </span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <a class="p-button" href="assets/files/CV.pdf" download="CV.pdf">Voir Mon CV</a>
  </ng-template>
  <p class="m-0">
    Actuellement à la recherche d'un emploi de developpeur fullstack suite a l'obtention de mon bachelor en informatique.
    J'ai une bonne maitrise de Angular et Java que j'ai utilisé pendant mon alternance.
  </p>
</p-panel>

  <div class="techno mx-4 my-6">
    <div class="flex flex-col">
      <fa-icon [icon]="faAngular"/>
      <p-progressBar [value]="90" />
    </div>
    <div class="flex flex-col">
      <fa-icon [icon]="faJava"/>
      <p-progressBar [value]="80" />
    </div>
    <div class="flex flex-col">
      <fa-icon [icon]="faNode"/>
      <p-progressBar [value]="80" />
    </div>
    <div class="flex flex-col">
      <fa-icon [icon]="faGit"/>
      <p-progressBar [value]="70" />
    </div>
    <div class="flex flex-row">
      <fa-icon [icon]="faLinux"/>
      <p-progressBar [value]="50"/>
    </div>
  </div>

